<hibernate-configuration>
    <session-factory>

        <!-- dbConnection -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/fixit</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>

        <!--dialect-->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!--hibernate setup-->
        <property name="hbm2ddl.auto">create</property>

        <property name="show_sql">true</property>


        <!--entity classes-->
        <mapping class="edu.agh.to.fixit.model.Choice"/>
        <mapping class="edu.agh.to.fixit.model.Item"/>
        <mapping class="edu.agh.to.fixit.model.Repair" />




    </session-factory>

</hibernate-configuration>
